.*
!.gitignore
!.eslintrc.json
!.prettierrc
package-lock.json
*~
*.log
*.out
*.zip
*.tgz
*.html
**html/
!src/apg-api/*.html
!src/apg-conv-api/*.html
!src/apg-exp/*.html
!src/apg-lib/*.html
**node_modules/
**docs/
**input/
**output/
**tmp/
**test/

